.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
}

.contents{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.left_section{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1 1 70%;
}

.summary{
  flex-basis: 50vh;
  flex-grow: 1 1 70%
}

.fileUpload{
  flex-grow: 1 1 30%;
}

.right_section{
  flex: 1 1 20%;
  display: flex;
  height: 75vh;
  align-items: center;
  justify-content:center;
  align-self: center;

}
