@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin: 0 auto;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
}
.container h1 {
  font-size: 4rem;
}

.form {
  width: 70vw;
  max-width: 900px;
  padding: 2rem;
  margin: 3rem auto;
  background-color: rgb(242, 242, 242);
  border-radius: 8px;
 
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: 2rem;
  grid-auto-flow: dense !important;
  
}

.h1 {
  text-align: center;
  color: #333;
}

.form label {
  display: block;
  margin-bottom: 5px;
  font-size: 1rem;
  color: #333;

}

.form::placeholder {
  color: #565656;
}

.form input {
  width: 100%;
  padding: 10px 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
}

.input:hover {
  border: 1px solid #4febcb;
}

.input:focus {
  border: 1px solid #4febcb;
}


.btn  {
  background-color: #333;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: fit-content;
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
}

.btn:hover {
  background-color: #cfcccc;
  color: rgb(0, 0, 0);
}

.btn_submit{
  margin: 2rem auto;
  display: block;
  padding: 1rem 2rem !important;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  background-color: #333;
  width:fit-content
}


.form select{
  width: 100%;
  padding: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;

}

.form select option {
  padding: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.2rem;
}

.textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
  width: 100%;
  resize: none;  
}
 
 

.text_container{
  grid-column: 1 / -1 !important;
}


.btn_metamask{
    margin: 2rem auto;
    display: block;
    padding: 1rem 2rem !important;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    background-color: #333;
    width:fit-content
} 
 